.about-container {
  /* position: relative; */
  height: auto;
  color: #eeeeee;
  margin: 15% 2%;
}

.about-me {
  font-family: "Poppins", sans-serif;
  width: 50%;
  text-align: justify;
  padding: 2%;
}

.image-section {
  width: 50%;
}


@media only screen and (max-width: 776px) {
  .about-me {
    width: 100%;
  }

  .image-section {
    width: 100%;
  }
}