.about-container {
  height: auto;
  color: #eeeeee;
}

.about-me {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.about-me-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.image-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.image-section>div {
  background-color: #202021;
}

.image-section iframe {
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 776px) {
  .about-me {
    width: 100%;
  }

  .about-me-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-section {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .image-section>div {
    margin: auto;
  }

  .image-section iframe {
    margin-bottom: 8px;
  }
}