.company-section {
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-logo {
  height: 70px;
  margin-right: 80px;
}

.company-title {
  border-bottom: 1px solid #00adb5;
  font-size: 24px;
  color: #fffc;
  display: table;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

ul>li {
  text-align: justify;
  list-style: circle;
}


@media only screen and (max-width: 576px) {

  .company-section {
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100%;
  }

  .art-section {
    width: 80%;
  }

  ul>li {
    text-align: left;
  }

  .o-list {
    width: 90%;
  }

  .job-exp {
    width: 100%;
  }

}