.cover-container {
  height: 100vh;
  padding: 15% 10%;
}

.name-text {
  font-family: "Poppins";
  color: #eeeeee;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  /* line-height: 96px; */
}

.name-text > span {
  color: #00adb5;
}
