.cover-container {
  position: relative;
  height: 75vh;
  padding: 0 10%;
  width: 100%;
  overflow-x: hidden;
}


.name-text {
  /* margin-top: 15%; */
  position: relative;
  display: inline-block;
  font-family: "Poppins";
  color: #eeeeee;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}


/* name text animation starts */


@media screen and (min-width: 768px) {
  .name-text>span {
    color: #00adb5;
    position: absolute;
    top: 0;
    transform: translateX(0.4em);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.8s steps(20, end) forwards;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  .name-text::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 100%;
    height: 80%;
    border-right: 2px solid #00adb5;
    animation: typing-line 1.8s steps(15, end) forwards;
  }

  @keyframes typing-line {
    from {
      width: 5%;
    }

    to {
      width: 57%;
    }
  }

}

/* name text animation ends */


.cover-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /* padding: 10px 0px; */
  margin-top: 20px;
  gap: 10px;
}

.cover-buttons>a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #EEEEEE;
  background-color: #393E46;
  padding: 10px 22px;
  border-radius: 25px;
}

.cover-buttons>a:hover {
  background-color: #00ADB5;
  transition: background-color 0.5s;
}


.scroll-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

}

.scroll-button>button {
  border: none;
  width: 96px;
  height: 96px;
  background-color: rgba(57, 62, 70, 0.75);
}

.scroll-button>button:hover {
  border-radius: 10px;
  background-color: rgba(57, 62, 70);
  transition-property: background-color, border-radius;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

/* responsive design */

@media only screen and (max-width: 768px) {
  .name-text {
    font-size: 1.5rem;
  }

  .name-text>span {
    position: relative;
    color: #00adb5;
  }

  .cover-buttons>a {
    display: inline-block;
  }

  .scroll-button>button {
    margin-top: 100px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: rgba(57, 62, 70, 0.75);
  }
}